body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}

button {
    background: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
}